.about-us {
  width: 1440px;
  height: 1330px;

  padding-top: 140px;
  padding-bottom: 140px;
  background-color: $grey-color-shade-7;

  @include bg-imaged("bg-3");
}

.about-us__overlay {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  padding: 80px 60px 70px 60px;
  background: $overlay;
}

.experience {
  width: 383px;
}

.history__title,
.experience__title {
  margin-bottom: 11px;

  font-family: $title-font-family;
  font-size: 45px;
  line-height: 1.3;
  text-transform: capitalize;
}

.about-title-wrap {
  margin-bottom: 50px;
}

.historia {
  width: 418px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.historia__title {
  margin-bottom: 13px;

  color: $accent-color;
  line-height: 1.3;
  text-transform: capitalize;
}

.historia__desc,
.experience__desc {
  color: $grey-color-shade-1;
}

.experience__desc {
  margin-bottom: 37px;
}

.experience__scores {
  margin-bottom: 50px;
}

.exp-score {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.exp-score-wrap {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exp-score__range {
  width: 100%;
  height: 5px;
  background-color: $accent-color;

  &--75 {
    background-image: linear-gradient(
      90deg,
      $accent-color 75%,
      $light-color 75%
    );
  }
  &--80 {
    background-image: linear-gradient(
      90deg,
      $accent-color 80%,
      $light-color 80%
    );
  }

  &--90 {
    background-image: linear-gradient(
      90deg,
      $accent-color 90%,
      $light-color 90%
    );
  }
}

.experience__link {
  text-align: center;
  color: $grey-color-shade-7;
  font-size: 22px;
  padding: 25px 71px;
  border: 1px solid $accent-color;
  background: $accent-color;

  transition: background-color $animation-time $animation-function,
    color $animation-time $animation-function,
    border-color $animation-time $animation-function;

  &:hover,
  &:focus {
    background-color: $button-bg-dark;
    color: $light-color;
    border-color: $button-bg-dark;
  }
}
