.attorneys {
  padding-top: 115px;
  padding-bottom: 120px;
  background-color: $light-color;
}

.attorneys__title-wrap {
  margin-bottom: 70px;
  text-align: center;
}

.attorneys__title {
  margin-bottom: 11px;
  color: $grey-color-shade-7;
  font-family: $title-font-family;
  font-size: 45px;
  line-height: 1.2;
  text-transform: capitalize;
}

.attorney__list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.member {
  width: 433px;

  transition: box-shadow $animation-time $animation-function;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-hover;
  }
}

.member__img-thumb {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.member__meta {
  text-align: center;
}

.member__name {
  color: $grey-color-shade-7;
  font-family: $title-font-family;
  font-size: 30px;
  line-height: 1.3;
}

.member__ocupation {
  color: $accent-color;
  margin-bottom: 10px;
}
