.cases {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cases__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 315px;
  height: 126px;

  font-size: 22px;
  line-height: 1.3;

  &--success {
    color: $paragraph-color;
    background-color: $card-success-bg-color;
  }

  &--experience {
    color: $card-experience-text-color;
    background-color: $accent-color;
  }
}

.cases__year {
  padding: 10px 15px;
  border-radius: 5px;
  color: $main-text-color;
  background-color: $background-color;
  font-size: 30px;
  line-height: 1.3;
}
