.contact-form-wrap {
  width: 1440px;
  height: 945px;

  padding-top: 140px;
  padding-bottom: 140px;

  background-image: linear-gradient(to right, $overlay $overlay),
    url("../../images/background/bg-4@1x.jpg");

  background-image: linear-gradient(to right, $overlay $overlay),
    -webkit-image-set(url("../../images/background/bg-4@2x.avif")
          type("image/avif") 2x, url("../../images/background/bg-4@1x.avif")
          type("image/avif") 1x, url("../../images/background/bg-4@2x.webp")
          type("image/webp") 2x, url("../../images/background/bg-4@1x.webp")
          type("image/webp") 1x, url("../../images/background/bg-4@2x.jpg")
          type("image/jpeg") 2x, url("../../images/background/bg-4@1x.jpg")
          type("image/jpeg") 1x);

  background-image: linear-gradient(to right, $overlay $overlay),
    image-set(
      url("../../images/background/bg-4@2x.avif") type("image/avif") 2x,
      url("../../images/background/bg-4@1x.avif") type("image/avif") 1x,
      url("../../images/background/bg-4@2x.webp") type("image/webp") 2x,
      url("../../images/background/bg-4@1x.webp") type("image/webp") 1x,
      url("../../images/background/bg-4@2x.jpg") type("image/jpeg") 2x,
      url("../../images/background/bg-4@1x.jpg") type ("image/jpeg") 1x
    );
}

.contact-form {
  padding: 90px 100px 105px 100px;
  background-color: $area-bg-color;
}

.contact-form__ipnput,
.contact-form__message {
  display: block;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-top: 10px;
  border-bottom: 1px solid #3b434e;

  background-color: $area-bg-color;

  color: $main-text-color;
  font-size: 25px;
  line-height: 0.8;

  &:focus {
    border-bottom: 1px solid $accent-color;
  }
}

.contact-form__ipnput {
  width: 557px;
}

.contact-form__message {
  width: 100%;
  min-height: 110px;
  margin-bottom: 50px;
  resize: none;
}

.contact-form__input-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 38px;

  margin-bottom: 65px;
}

.contact-form__button {
  display: block;
  margin: 0 auto;
  padding: 30px;
  color: $card-success-bg-color;
  font-size: 25px;
  background-color: $main-text-color;

  transition: background-color $animation-time $animation-function,
    color $animation-time $animation-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-text-color;
  }
}
