.fighting {
  padding-top: 124px;
  padding-bottom: 84px;
  background-color: $main-text-color;
  text-align: center;
}

.container__fighting {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $win-card-bg-color;
    margin-top: 80px;
  }
}
.fighting__title {
  margin-bottom: 11px;

  color: $background-color;
  font-family: $title-font-family;
  font-size: 45px;
  line-height: 1.2;
  text-transform: capitalize;
}

.fighting__icon {
  margin-bottom: 40px;
}

.fighting__desc {
  margin-bottom: 60px;
  color: $section-desc-color;
}

.board-wins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.win-card {
  width: 433px;
  height: 180px;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: $win-card-bg-color;
  text-transform: capitalize;

  &--imaged {
    display: block;
    text-align: start;
    line-height: 1.3;

    background-image: url("../../images/section/section3@1x.jpg");
  }
}

.win-card__score-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 118px;
  height: 120px;
  border: 2px solid $accent-color;
}

.win-card__score {
  color: $card-experience-text-color;
  font-size: 30px;
  line-height: 1.3;

  .win-card--imaged & {
    color: $main-text-color;
  }
}

.win-card__title {
  text-align: start;
  color: $card-experience-text-color;
  font-family: $title-font-family;
  font-size: 30px;
  line-height: 1.4;

  .win-card--imaged & {
    margin-bottom: 10px;
  }
}

.win-card__desc {
  color: $section-desc-color;

  .win-card--imaged & {
    color: $main-text-color;
  }
}
