.fighting {
  padding-top: 124px;
  background-color: $main-text-color;
  text-align: center;
}

.fighting__linebreak {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $win-card-bg-color;
    margin-top: 80px;
  }
}

.fighting__title {
  margin-bottom: 11px;

  color: $background-color;
  font-family: $title-font-family;
  font-size: 45px;
  line-height: 1.2;
  text-transform: capitalize;
}

.fighting-title-icon-wrap {
  margin-bottom: 40px;
}

.fighting__desc {
  margin-bottom: 60px;
  color: $section-desc-color;
}
