.logo-booking-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 30px;

  border-bottom: 1px solid $line-break-color;
}

.button-link {
  padding: 24px 71px;

  font-size: 22px;
  text-align: start;
  border: $button-border-dark;
  background-color: $button-bg-dark;

  transition: background-color $animation-time $animation-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
