.hero-header-overlay {
  width: 1440px;
  height: 1023px;

  background-repeat: no-repeat;
  background-size: 1440px 1023px, 1440px 1023px;
  background-position: center, center;

  @include bg-imaged-gradient(
    linear-gradient(to right, $overlay, $overlay),
    "bg-1"
  );
}
