.hero-header-overlay {
  width: 1440px;
  height: 1023px;

  background-repeat: no-repeat;
  background-size: 1440px 1023px, 1440px 1023px;
  background-position: center, center;

  background-image: linear-gradient(to right, $overlay, $overlay),
    url("../../images/background/bg-1@1x.jpg");

  background-image: linear-gradient(to right, $overlay, $overlay),
    -webkit-image-set(url("../../images/background/bg-1@2x.avif")
          type("image/avif") 2x, url("../../images/background/bg-1@1x.avif")
          type("image/avif") 1x, url("../../images/background/bg-1@2x.webp")
          type("image/webp") 2x, url("../../images/background/bg-1@1x.webp")
          type("image/webp") 1x, url("../../images/background/bg-1@2x.jpg")
          type("image/jpeg") 2x, url("../../images/background/bg-1@1x.jpg")
          type("image/jpeg") 1x);

  background-image: linear-gradient(to right, $overlay, $overlay),
    image-set(
      url("../../images/background/bg-1@2x.avif") type("image/avif") 2x,
      url("../../images/background/bg-1@1x.avif") type("image/avif") 1x,
      url("../../images/background/bg-1@2x.webp") type("image/webp") 2x,
      url("../../images/background/bg-1@1x.webp") type("image/webp") 1x,
      url("../../images/background/bg-1@2x.jpg") type("image/jpeg") 2x,
      url("../../images/background/bg-1@1x.jpg") type ("image/jpeg") 1x
    );
}
