.partners {
  padding-top: 80px;
  padding-bottom: 128px;

  background-color: $main-text-color;
}

.partners__title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin-bottom: 50px;
}

.partners__title {
  color: $background-color;
  font-family: $title-font-family;
  font-size: 50px;
  line-height: 1.2;
  text-transform: capitalize;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
