.practice {
  padding-top: 120px;
  padding-bottom: 140px;
}

.practice__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

.practice__title {
  width: 672px;
  margin-bottom: 11px;

  font-family: $title-font-family;
  font-size: 45px;
  line-height: 1.3;
  text-transform: capitalize;
}

.practice__desc {
  color: $grey-color-shade-1;
}
