.reviews {
  padding-top: 124px;
  padding-bottom: 140px;
}

.reviews__title-wrap {
  margin-bottom: 60px;
  text-align: center;
}

.reviews__title {
  margin-bottom: 11px;

  font-family: $title-font-family;
  font-size: 45px;
  line-height: 1.2;
}

.opinions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.opinion__text-wrap {
  padding: 0 45px 57px 45px;
  background-color: $grey-color-shade-4;
  transition: box-shadow $animation-time $animation-function;

  .opinion:nth-child(2n + 1) & {
    padding-top: 51px;
    border-radius: 1px 1px 1px 40px;
    margin-bottom: 20px;
  }

  .opinion:nth-child(2n) & {
    padding-top: 76px;
    border-radius: 40px 1px 1px 1px;
  }

  .opinion__link:hover &,
  .opinion__link:focus & {
    box-shadow: $box-shadow-hover-accent;
  }
}

.opinion {
  width: 314px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:nth-child(2n) {
    flex-direction: column-reverse;
  }
}

.opinion__icon {
  margin-bottom: 33px;
}

.opinion__text {
  color: $grey-color-shade-1;
}

.reviewer-card {
  width: 300px;
  display: flex;
  gap: 22px;
  align-items: center;

  .opinion:nth-child(2n) & {
    margin-bottom: 22px;
  }
}

.reviewer-card__thumb {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  overflow: hidden;
}

.reviewer-card__name {
  font-family: $title-font-family;
  font-size: 30px;
  line-height: 1.3;
}
