.socials {
  &--position {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);

    width: 217px;
    height: 66px;

    background-color: $light-color;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  transition: transform $animation-time $animation-function;

  .member:hover &,
  .member:focus & {
    transform: translate(-50%, 0);
  }
}

.socials-wrap {
  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: center;

    transition: transform $animation-time $animation-function;

    .member:hover &,
    .member:focus & {
      transform: translateX(-50%) scale(1);
    }

    content: " ";
    display: block;
    margin: 0 auto;
    width: 108px;
    height: 1px;
    background-color: $accent-color;
  }
}
.socials__icon {
  fill: $grey-color-shade-7;

  transition: fill $animation-time $animation-function;
  .socials__link:hover &,
  .socials__link:focus & {
    fill: $accent-color;
  }

  &--light {
    fill: $light-color;
  }
}
