$light-color: #fff;
$accent-color: #d1b06b;

$grey-color-shade-1: #d7d7d7;
$grey-color-shade-2: #909090;
$grey-color-shade-3: #f8f4f4;
$grey-color-shade-4: #2e3947;
$grey-color-shade-5: #3b434e;
$grey-color-shade-6: #1f2732;
$grey-color-shade-7: #161d27;

$button-border-dark: 1px solid rgba(255, 255, 255, 0.1);
$button-bg-dark: rgba(255, 255, 255, 0.1);

$overlay: rgba(31, 39, 50, 0.8);
$line-break-color: #4e555f;

$main-font-family: "Outfit", sans-serif;
$title-font-family: "Cormorant Garamond", serif;

$animation-time: 250ms;
$animation-function: ease-in;

$box-shadow-hover: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$box-shadow-hover-accent: rgba(209, 176, 107, 0.1) 0px 6px 24px 0px,
  rgba(209, 176, 107, 0.1) 0px 0px 0px 1px;
