$main-text-color: #fff;
$accent-color: #d1b06b;
$paragraph-color: #d7d7d7;

$card-success-bg-color: #3b434e;
$card-experience-text-color: #1f2732;

$background-color: #161d27;
$overlay: rgba(31, 39, 50, 0.8);

$line-break-color: #4e555f;

$button-border-dark: 1px solid rgba(255, 255, 255, 0.1);
$button-bg-dark: rgba(255, 255, 255, 0.1);
$button-border-accent: 1px solid rgb(209, 176, 107);
$button-bg-accent: #d1b06b;

$main-font-family: "Outfit", sans-serif;
$title-font-family: "Cormorant Garamond", serif;
$animation-time: 250ms;
$animation-function: ease-in;
